body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #5c0c92;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin: 0;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12 px rebeccapurple;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="passward"],
input[type="email"],
select,
textarea {
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid burlywood;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;

}

.radio-group label,
.checkbox-group label {
    font-weight: normal;
    margin-right: 15px;


}

textarea {
    resize: vertical;
}

button:hover {
    background-color: rgb(36, 9, 237);
}  

button{


padding: 5px;
margin: 60px;

}